@use "button";

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: beige;
  margin-top: 10%;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

ul,
li {
  list-style-type: none;
  margin-left: none;
}
